<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munch.project.testsimple">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission
        android:name="permission4Service"
        android:protectionLevel="normal" />

    <application>
        <activity android:name=".MainRvActivity" />
        <activity android:name=".alive.TestAliveSimpleActivity" />
        <activity android:name=".alive.TestAliveActivity" />
        <activity android:name=".jetpack.TestJetpackActivity" />
        <activity
            android:name=".alive.px.SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="false"
            android:exported="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/StyleSingleActivity" />

        <activity android:name=".TestFunActivity" />
        <activity android:name=".queue.TestQueueActivity" />
        <activity android:name=".socket.TestSimpleSocketActivity" />
        <activity android:name=".TestFunInFragmentActivity" />
        <activity android:name=".jetpack.WebViewActivity" />
        <activity android:name=".sensor.TestSensorActivity" />

        <service
            android:name=".alive.foreground.ForegroundService"
            android:exported="false" />
        <service
            android:name=".alive.foreground.ForegroundService$HideNotificationService"
            android:exported="false" />

        <service
            android:name=".alive.guard.KeepService"
            android:exported="true"
            android:permission="permission4Service" />
        <service
            android:name=".alive.guard.GuardService"
            android:exported="true"
            android:permission="permission4Service"
            android:process="project.testsimple.alive.remote">
            <intent-filter>
                <action android:name="com.munch.project.guard" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".alive.mix.WorkService"
            android:exported="true"
            android:permission="permission4Service" />
        <service
            android:name=".alive.mix.RemoteService"
            android:exported="true"
            android:permission="permission4Service"
            android:process="alive.remote">
            <intent-filter>
                <action android:name="alive.mix.RemoteService" />
            </intent-filter>
        </service>

        <service android:name=".alive.music.SilentMusicService" />

        <service android:name=".func.TestForegroundService" />

        <service android:name=".queue.QueueService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_xml" />
        </provider>

        <service
            android:name=".sensor.TestSensorActivity$QueryStepService"
            android:exported="true"
            android:permission="permission4Service">
            <intent-filter>
                <action android:name="com.munch.project.step" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>