<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munch.project.test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="androidx.camera.view,androidx.camera.camera2,androidx.camera.lifecycle,androidx.camera.core" />

    <application>
        <activity android:name=".TestMainActivity" />
        <activity android:name=".img.camera.TestCameraActivity" />
        <activity android:name=".TestViewActivity" />
        <activity android:name=".view.TestWeightActivity" />
        <activity android:name=".view.TestFlowLayoutActivity" />
        <activity android:name=".bar.TestBarActivity" />
        <activity android:name=".bar.TestBar4FragmentActivity" />
        <activity android:name=".view.TestNavRecyclerViewActivity" />
        <activity android:name=".switch.TestSwitchActivity" />
        <activity android:name=".img.TestImgActivity" />
        <activity android:name=".view.TestChartActivity" />
        <activity android:name=".file.TestFileActivity" />
        <activity android:name=".TestFileMainActivity" />
        <activity android:name=".view.TestBookPageViewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_xml" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.munch.project.test.switch.SwitchInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>