<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munch.test.project.one">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".base.TestApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/content_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTestTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".info.InfoActivity" />
        <activity android:name=".log.LogActivity" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".dag.DagActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".Test2Activity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".file.FileChoseActivity" />
        <activity android:name=".switch.SwitchActivity" />
        <activity android:name=".view.WeightActivity" />
        <activity android:name=".bluetooth.BluetoothConfigActivity" />
        <activity android:name=".bluetooth.BluetoothActivity" />
        <activity android:name=".bluetooth.BluetoothConnectActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".recyclerview.HeaderRvActivity" />
        <activity android:name=".recyclerview.GroupRvActivity" />
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".anim.ImageTitleActivity" />
        <activity android:name=".anim.SimpleTitleActivity" />
        <activity android:name=".file.FileCopyActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".view.FlowActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".view.PaintModeActivity" />
        <activity android:name=".view.BookActivity" />
        <activity android:name=".view.FishActivity" />
        <activity android:name=".net.NetActivity" />
        <activity android:name=".net.NetIpActivity" />
    </application>

</manifest>