<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munch.project.test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="androidx.camera.view,androidx.camera.camera2,androidx.camera.lifecycle,androidx.camera.core" />

    <!--当组件组成app时此处会报错，但这是正常的，因为该文件被排除了-->
    <application
        android:name=".TestApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/content_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.P1"
        tools:replace="android:theme">

        <!--冷启动时间 https://developer.android.google.cn/topic/performance/vitals/launch-time-->
        <!-->adb -s deviceNumber shell am start -S -W com.munch.project.test/.TestMainAloneActivity-->
        <activity android:name=".TestMainAloneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".img.camera.TestCameraActivity" />
        <activity android:name=".TestViewActivity" />
        <activity android:name=".view.TestWeightActivity" />
        <activity android:name=".view.TestFlowLayoutActivity" />
        <activity android:name=".bar.TestBarActivity" />
        <activity android:name=".bar.TestBar4FragmentActivity" />
        <activity android:name=".view.TestRecyclerViewActivity" />
        <activity android:name=".switch.TestSwitchActivity" />
        <activity android:name=".img.TestImgActivity" />
        <activity android:name=".view.TestChartActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_xml" />
        </provider>
    </application>

</manifest>