@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 默认顶部标题栏高度 */
    --size-title-bar-height: 56px;
    /* 默认的灰色，比如分割线 */
    --color-default-grey: #e7e7e7;
    /* 默认的间距 */
    --size-padding-default: 16px;

    --color-title-bar-start-skin: #f2f2f2;
    --color-title-bar-end-skin: #f0f3f9;

    /* 默认页面颜色 */
    --color-page-background-skin: #ffffff;
    /* 默认文字显示颜色 */
    --color-text-base-skin: #000;
    /* 默认文字选中颜色 */
    --color-text-select-skin: #fff;
    /* 选中颜色 */
    --color-select-skin: #e7e7e7;
    /* 鼠标悬浮颜色 */
    --color-hover-skin: #eeeeee;

    --size-text-page: 0.5rem;
  }
  .theme-dark {
    --color-page-background-skin: #1e1e1e;
  }
  .theme-sky {
    --color-title-bar-start-skin: #0284c7;
    --color-title-bar-end-skin: #bae6fd;
  }
}
